docs/fbref_scraper_n8n.json
{
  "name": "FBref Player Scraper",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "league",
              "value": "EPL"
            },
            {
              "name": "url",
              "value": "https://fbref.com/en/comps/9/stats/Premier-League-Stats"
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Set League URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{$json[\"url\"]}}",
        "responseFormat": "string"
      },
      "id": "3",
      "name": "HTTP League Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        750,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "\n// Extract player URLs from HTML using regex\nconst html = $json[\"data\"] || $json[\"body\"] || $json;\nconst matches = [...html.matchAll(/href=\\\"(\\/en\\/players\\/[^\\\"]+)\\\"/g)];\nreturn matches.map(m => ({ playerUrl: 'https://fbref.com' + m[1] }));\n"
      },
      "id": "4",
      "name": "Extract Player URLs",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "5",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        1250,
        300
      ]
    },
    {
      "parameters": {
        "interval": 6,
        "unit": "seconds"
      },
      "id": "6",
      "name": "Wait 6s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1500,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{$json[\"playerUrl\"]}}",
        "responseFormat": "string"
      },
      "id": "7",
      "name": "HTTP Player Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1750,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "\n// Placeholder parser \u2014 replace with robust parsing logic\nconst html = $json[\"data\"] || $json[\"body\"] || $json;\nconst nameMatch = html.match(/<h1[^>]*>(.*?)<\\/h1>/);\nreturn [{\n    name: nameMatch ? nameMatch[1] : null,\n    scrapeDate: new Date().toISOString(),\n    source: \"FBref\"\n}];\n"
      },
      "id": "8",
      "name": "Parse Player Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": "players",
        "updateKey": "name",
        "columns": [
          "name",
          "scrapeDate",
          "source"
        ],
        "values": "={{$json}}"
      },
      "id": "9",
      "name": "Supabase Upsert",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2250,
        300
      ]
    }
  ],
  "connections": {
    "Start": [
      {
        "node": "Set League URL",
        "type": "main",
        "index": 0
      }
    ],
    "Set League URL": [
      {
        "node": "HTTP League Page",
        "type": "main",
        "index": 0
      }
    ],
    "HTTP League Page": [
      {
        "node": "Extract Player URLs",
        "type": "main",
        "index": 0
      }
    ],
    "Extract Player URLs": [
      {
        "node": "Split In Batches",
        "type": "main",
        "index": 0
      }
    ],
    "Split In Batches": [
      {
        "node": "Wait 6s",
        "type": "main",
        "index": 0
      }
    ],
    "Wait 6s": [
      {
        "node": "HTTP Player Page",
        "type": "main",
        "index": 0
      }
    ],
    "HTTP Player Page": [
      {
        "node": "Parse Player Data",
        "type": "main",
        "index": 0
      }
    ],
    "Parse Player Data": [
      {
        "node": "Supabase Upsert",
        "type": "main",
        "index": 0
      }
    ],
    "Supabase Upsert": [
      {
        "node": "Split In Batches",
        "type": "main",
        "index": 1
      }
    ]
  }
}